# Python
venv/
__pycache__/
*.py[cod]
*.sqlite3

# Django secrets
.env

# Django media
media/

# Node
node_modules/
build/

# React build artifacts
frontend/build/
frontend/.env

# macOS
.DS_Store

# VSCode
.vscode/

# Logs
*.log

# Optional: OS or IDE specific
*.swp